.divMenu {
    position: fixed;
    z-index: 2;
    display: none;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    background-color: black;
    top: 0;
    left: 0;
}

.MenuButtonBox {
    display: flex;
    flex-direction: column;
    gap: 78px;
    font-family: "Inter";
}