@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  align-items: center;
  left: 0;
  right: 0;
  justify-content: center;
}

img {}

.homeFormDiv {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.homeFormDiv2 {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 15px;
  background-color: black;
  padding: 20px;
  padding-top: 0px;

  @media (min-width:768px) {
    display: none;
  }
}

.signUpFormDiv {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 15px;

  @media (min-width:768px) {
    justify-content: center;
  }
}